body {
    background-color: #F5F0D9;
    background-image: url("https://d3500i1ecak5li.cloudfront.net/s3fs-public/images/chapters/new_york_background.jpg");
}

.jumbotron {
    background-color:#8cb5c3 !important; 
}

.card {
    background-color: #8cb5c3;
}

.btn-primary {
    background-color: #f3ad61 !important;
}

.navbar-custom { 
    background-color: #f3ad61 !important; 
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: black !important; 
} 